{% extends ':Common:span8nonav.html.twig' %}

{% block mainSpan %}
<h1>{{ entity.name }} category</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
    </tbody>
</table>

<a class="btn" href="{{ path('category') }}">
    Back to the list
</a>
<a class="btn" href="{{ path('category_edit', { 'id': entity.id }) }}">
    Edit
</a>
<form class="form-inline" action="{{ path('category_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form.id) }}
    {{ form_widget(delete_form._token) }}
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}