{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
	<div class="span3">
		<ul class="nav nav-pills nav-pills-large nav-stacked">
			<li {% if selectedCategory == null %}class="active"{% endif %}>
				<a href="{{ path('asset') }}">
					All assets
					<span class="badge pull-right">{{ assetsTotal }}</span>
				</a>
			</li>
			{% for category in assetsByCategory %}
			    <li  {% if selectedCategory == category.id %}class="active"{% endif %}>
					<a href="{{ path('asset_by_category', { 'categoryId': category.id }) }}">
						{{ category.name }}
						<span class="badge pull-right">{{ category.amount }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
		<a href="{{ path('asset_new') }}" class="btn btn-success btn-block">Add new asset</a>
	</div>
	<!--/span-->
	<div class="span9">
		{% for type, flashMessages in app.session.flashbag.all() %}
	        {% for flashMessage in flashMessages %}
	            <div class="alert alert-{{ type }}">
	            	<button type="button" class="close" data-dismiss="alert">×</button>
	            	{{ flashMessage }}
	            </div>
	        {% endfor %}
	    {% endfor %}
	    <section class="whiteBackground greyBorder roundedCorners">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Users name</th>
						<th>Serialnumber</th>
						<th>Type</th>
						<th>Manufacturer</th>
						<th>Model</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% if assets|length == 0 %}
						<tr>
							<td colspan="8" class="center">No assets found</td>
						</tr>
					{% endif %}
					{% for asset in assets %}
					    <tr>
					    	<td>{{ asset.id }}</td>
					    	<td>{{ asset.name }}</td>
					    	<td>{{ asset.serialnumber }}</td>
					    	<td>{{ asset.category }}</td>
					    	<td>{{ asset.make }}</td>
					    	<td>{{ asset.model }}</td>
					    	<td>
								<span class="label label-success">OK</span>
							</td>
							<td>
								<a href="{{ path('asset_show', { 'id': asset.id }) }}"><i class="icon-search"></i></a>
								<a href="{{ path('asset_edit', { 'id': asset.id }) }}"><i class="icon-pencil"></i></a>
							</td>
					    </tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
		<!--<div class="pagination pagination-centered">
			<ul>
				<li class="disabled">
					<a href="#">Prev</a>
				</li>
				<li class="active">
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">Next</a>
				</li>
			</ul>
		</div>-->
	</div>
	<!--/span-->
</div>
<!--/row-->
{% endblock %}