{% extends ':Common:span8nonav.html.twig' %}

{% block mainSpan %}
<h1>Asset</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Serialnumber</th>
            <td>{{ entity.serialnumber }}</td>
        </tr>
        <tr>
            <th>Productnumber</th>
            <td>{{ entity.productnumber }}</td>
        </tr>
        <tr>
            <th>Tag</th>
            <td>{{ entity.tag }}</td>
        </tr>
        <tr>
            <th>Make</th>
            <td>{{ entity.type.make }}</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{ entity.type.model }}</td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>{{ entity.owner.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.owner.description }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<h2>Tickets</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Subject</th>
            <th>Assigned</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% if entity.tickets|length == 0 %}
        <tr>
            <td colspan="4">No tickets</td>
        </tr>
        {% endif %}
        {% for ticket in entity.tickets %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.user.name }}</td>
            <td>
                {% if ticket.status == 1 %}
                <span class="label label-warning">New</span>
                {% elseif ticket.status == 2 %}
                <span class="label label-info">Active</span>
                {% elseif ticket.status == 3 %}
                <span class="label label-success">Complete</span>
                {% elseif ticket.status == 4 %}
                <span class="label">Closed</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><a href="{{ path('ticket_new', { 'assetId': entity.id }) }}" class="btn btn-block btn-success">New ticket</a></td>
        </tr>
    </tfoot>
</table>

<form action="{{ path('asset_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
    <a href="{{ path('asset') }}" class="btn">Back to the list</a>
    <a href="{{ path('asset_edit', { 'id': entity.id }) }}" class="btn">Edit</a>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}