{% extends '::base.html.twig' %}

{% block content %}
{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endfor %}
<div class="row-fluid">
    <div class="span4 whiteBackground greyBorder roundedCorners details">
        <ul class="nav nav-tabs noBottomMargin">
            <li class="active">
                <a href="#caseDetails" data-toggle="tab">Case details</a>
            </li>
            <li>
                <a href="#assetDetails" data-toggle="tab">Asset details</a>
            </li>
        </ul>
        <div class="tab-content whiteSmokeBackground">
            <div class="tab-pane fade active in padding15px" id="caseDetails">
                <form action="{{ path('ticket_update', { 'id': ticket.id }) }}" method="post" {{ form_enctype(ticket_form) }}>
                    {{ form_widget(ticket_form) }}
                    <div>
                        <button type="submit" class="btn btn-primary btn-block">Save changes</button>
                    </div>
                </form>
                <hr>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                1 ATTACHMENTS
                                <button class="btn btn-mini btn-success pull-right">Add</button>
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse">
                            <div class="accordion-inner">Error.jpg</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/caseDetails-->
            <div class="tab-pane fade padding15px" id="assetDetails">
                <form action="{{ path('asset_update_from_ticket', { 'assetId': ticket.asset.id, 'ticketId': ticket.id }) }}" method="post" {{ form_enctype(asset_form) }}>
                    {{ form_widget(asset_form) }}
                    <div>
                        <button type="submit" class="btn btn-primary btn-block">Save changes</button>
                    </div>
                </form>
            </div>
            <!--/assetDetails--> </div>
        <!--/tab-content--> </div>
    <!--/span4-->

    <div class="span8 whiteBackground greyBorder roundedCorners caseLogs">
        <section id="logs" class="whiteBackground roundedCorners padding15px">
            {% if ticket.logs|length == 0 %}
                <h2 class="center">No logs!</h2>
            {% endif %}
            {% for log in ticket.logs %}
            <div class="log">
                <div class="row-fluid">
                    <div class="span6"> <strong>By: {{ log.user.name }}</strong>
                    </div>
                    <div class="span6 right">{{ log.created|date('Y-m-d H:i:s') }}</div>
                </div>
                <p>
                    {{ log.statement|nl2br }}
                </p>
            </div>
            <hr>    
            {% endfor %}
        </section>
        <div class="newLog padding15px">
            <form action="{{ path('log_create', { 'ticketId': ticket.id }) }}" method="post" {{ form_enctype(log_form) }}>
                <legend>New log entry</legend>
                <div class="control-group">
                    <textarea id="arctic_ticketbundle_logtype_statement" name="arctic_ticketbundle_logtype[statement]" required="required" rows="10"></textarea>
                    {{ form_errors(log_form.statement) }}
                </div>
                {{ form_widget(log_form._token) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!--/span8-->
</div>
<!--/row-->
{% endblock %}