{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-pills nav-pills-large nav-stacked">
            <li {% if app.request.attributes.get('_route') == 'ticket' %}class="active"{% endif %}>
                <a href="{{ path('ticket') }}">
                    My Unresolved Cases
                    <span class="badge pull-right">{{ tickets_count.mine }}</span>
                </a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'ticket_all_open' %}class="active"{% endif %}>
                <a href="{{ path('ticket_all_open') }}">
                    All Unresolved Cases
                    <span class="badge pull-right">{{ tickets_count.allOpen }}</span>
                </a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'ticket_all' %}class="active"{% endif %}>
                <a href="{{ path('ticket_all') }}">
                    All Cases
                    <span class="badge pull-right">{{ tickets_count.all }}</span>
                </a>
            </li>
        </ul>
        <a href="{{ path('ticket_new') }}" class="btn btn-success btn-block">Add new ticket</a>
    </div>
    <!--/span-->
    <div class="span9">
        {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
        {% endfor %}
    {% endfor %}
        <section class="whiteBackground greyBorder roundedCorners">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Users name</th>
                        <th>Serialnumber</th>
                        <th>Subject</th>
                        <th>Assigned</th>
                        <th>Status</th>
                        <th>Updated</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if tickets|length == 0 %}
                    <tr>
                        <td colspan="8" class="center">
                            <h2>No tickets</h2>
                        </td>
                    </tr>
                    {% endif %}
                    {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.id }}</td>
                        <td>{{ ticket.owner }}</td>
                        <td>{{ ticket.serialnumber }}</td>
                        <td>{{ ticket.subject }}</td>
                        <td>{{ ticket.assigned }}</td>
                        <td>
                            {% if ticket.status == 1 %}
                            <span class="label label-warning">New</span>
                            {% elseif ticket.status == 2 %}
                            <span class="label label-info">Active</span>
                            {% elseif ticket.status == 3 %}
                            <span class="label label-success">Complete</span>
                            {% elseif ticket.status == 4 %}
                            <span class="label">Closed</span>
                            {% endif %}
                        </td>
                        <td>{{ ticket.updated|date('d-m-Y') }}</td>
                        <td>
                            <a href="{{ path('ticket_show', { 'id': ticket.id })}}"> <i class="icon-pencil"></i>
                            </a>
                            <!--<a href="#"> <i class="icon-share-alt"></i>
                            </a>
                            <a href="#myModal" data-toggle="modal">
                                <i class="icon-remove"></i>
                            </a>-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}